.vs
.vscode
.idea
.nvim.lua

# C/C++ excludes
.cache/clangd
.gdbinit
out

# CMake (from https://github.com/github/gitignore/blob/main/CMake.gitignore)
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
__pycache__

*.pyd
*-sdk-*.zip
*.sdkmod
